<!DOCTYPE html>
<html>
  <!-- Head -->
  <%- include('./partials/head',{
    title : 'Detalle del producto' 
  }) %>

  <body>
    <!-- Navbar (sit on top) -->
    <%- include('./partials/navbar') %>

    <!-- Header -->
    <%- include('./partials/header') %>

    <!-- Page content -->
    <div class="ps-content">

      <!-- Menu Section -->
      <div class="ps-row ps-padding-64" id="menu">
        <div class="ps-col l6 ps-padding-large">
          <h1 class="ps-center"><%= product.title %> </h1>
          <br />
          <h4>
            <%if (product.description == null) {%>
              Plato tipico.
            <%} else {%>
              <%= product.description %>. 
            <%}%>
            
            Este es un plato especial que solo lo va a encontrar aquí, por ello nuestro principal objetivo es brindarle a nuestros comensales la mejor experiencia gastronómica.</h4>
          <p class="ps-text-grey">
            U$S <%= product.price %> 
          </p>
        </div>

        <div class="ps-col l6 ps-padding-large ps-img-menu">
          <img
            src="/images/<%= product.image %> "
            class="ps-round ps-image ps-opacity-min"
            alt="Menu"
          />
        </div>
      </div>

      <!-- Footer -->
      <footer class="ps-center ps-light-grey ps-padding-32">
        <p>Powered by Pimienta & Sal</p>
      </footer>
    </div>
  </body>
</html>
